{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="POST" class="p-3 shadow">
            {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="task" placeholder="Enter task">
                </div><br>
                <div class="form-group">
                    <input type="text"  class="form-control"  name="priority" placeholder="Priority">
                </div><br>
                <div class="form-group">
                    <input type="date"  class="form-control"  name="date">
                </div><br>
                <input type="submit" class="btn btn-success">
            </form>
        </div>
        <div class="col-md-6">
            {% for i in todo %}
            <div class="card p-3 shadow" style=height:200px;">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p ><b>{{i.priority}}</b></p>
                    <p ><b>{{i.date}}</b></p>
                    <a href="{% url 'delete' i.id %}" class="btn btn-success">Complete</a>
                    <a href="{% url 'update' i.id %}" class="btn btn-primary">Update</a>
                </div>
            </div><br>
             {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
